/* Reset Styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Universal Styles */
html {
  background-color: seashell;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

/* Utility Classes */

.logo {
  width: 200px;
}

.expanded {
  display: flex;
  flex-flow: column wrap;
}

/* Typography */

h1 {
  margin: 1rem 0;
  color: palevioletred;
  font-size: 2.5rem;
}

p {
  margin: 1.5rem;
}

a {
  text-decoration: none;
}

/* Body Styles */

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  nav {
    justify-self: flex-end;

    ul {
      background-color: seashell;
      display: none;
      gap: 1.5rem;
      padding: 0 1.5rem 0;
      position: fixed;
      left: 0;
      top: 8rem;
      width: 100%;
      height: 100vh;

      a {
        color: yellow;
        background-color: #302d2d;
        display: block;
        padding: 0.75rem 1.5rem;
        border-radius: 1rem;

        &:hover,
        &:focus {
          background-color: yellow;
          color: black;
        }
      }
    }
  }
}

.hamburger {
  cursor: pointer;
  width: 40px;
  margin-right: 2.5rem;
}

.hamburger .line {
  display: block;
  height: 5px;
  margin-bottom: 10px;
  background-color: black;
}

.posts{
  margin: 1.5rem auto 3rem;
}

@media screen and (min-width: 636px) {
  header nav ul {
    position: unset;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: unset;

    a{
      display:inline-block;
    }
  }

  .hamburger {
    display: none;
  }
}
