---
import BaseLayout from '../../layouts/BaseLayout.astro';

import BlogPost from '../../components/BlogPost.astro';

// getStaticPaths - special Astro function that generates all the URL paths that thte static site should pre-render

export async function getStaticPaths() {
  const allPosts = Object.values(import.meta.glob('../posts/*.md', {eager:true}));

  const uniqueTags = [...new Set(allPosts.map((post:any)=> post.frontmatter.tags).flat(()))]

  return [
    { params: { tag: "astro" }, props: {posts: allPosts} },
    { params: { tag: "styling" }, props: {posts: allPosts}  },
    { params: { tag: "css" }, props: {posts: allPosts}  },
    { params: { tag: "blogging" }, props: {posts: allPosts}  },
    { params: { tag: "javaScript" }, props: {posts: allPosts}  },
    { params: { tag: "learning in public" }, props: {posts: allPosts}  },
    { params: { tag: "responsiveness" }, props: {posts: allPosts}  },
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const filteredPosts = posts.filter((post: any) => post.frontmatter.tags?.includes(tag));
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {filteredPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
  </ul>
</BaseLayout>
