---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		 <header>
      <p>Samistro</p>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
    </header>
		<h1>About Moi</h1>
		<p>I am an aspiring web developer/designer. I do freelance work through the small start-up (CSS Creatives) I created with my friends: Sydney and Cherry.</p>
		<p>Right now, we don't have any projects lined up yet as we're waiting for the go-signal from our first client.</p>
		<p>My mission for this year is to hopefully get a full-time employment as a web developer/designer at a good company for financial stability. In addition, i want to build a fashion clothing website for my own shop: Alitaya</p>
	</body>
</html>
