---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager:true}));
const pageTitle = "My Learning blog";
---

<BaseLayout pageTitle={pageTitle}>
		<p>This is where I will post about languages, frameworks and anything under the sun that I'm currently learning.</p>

		<h2>Posts</h2>
		<ul class="posts">
			{
			allPosts.map((post:any)=>
				(<BlogPost url="post.url" title={post.frontmatter.title}/>)
			)}
		</ul>
	</BaseLayout>