---
import '../styles/globals.css';
const pageTitle = "My Learning blog";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		 <header>
      <p><img class="logo"src="../../public/logo.webp" alt="Samistro logo"></p>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
    </header>
		<h1>{pageTitle}</h1>
		<p>This is where I will post about languages, frameworks and anything under the sun that I'm currently learning.</p>

		<h2>Posts</h2>
		<ul>
			<li><a href="/posts/post-1">Astro: first glance!</a></li>
		</ul>
	</body>
</html>
