---
import Footer from '../components/Footer.astro';
import Hamburger from "../components/Hamburger.astro";
import Navigation from '../components/Navigation.astro';
import '../styles/globals.css';


const pageTitle = "Home Page";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <h1><img class="logo" src="logo.webp" alt="Samistro logo"></h1>
      <nav>
        <Hamburger/>
        <Navigation />
      </nav>
    </header>
    <p>This is my jam yes</p>
    <p>why dont you work</p>
    <Footer/>
    <script>
      import "../scripts/main.js";
    </script>
   
  </body>
</html>
